In [ ]:
#pip install bar_chart_race

In [37]:
import bar_chart_race as bcr
import pandas as pd
import numpy as np
from IPython.display import HTML

In [13]:
df = pd.read_csv("all_data_cum.csv")
df.head(5)

,A. Italiano,Antofagasta,Cobresal,Colo Colo,Coquimbo Unido,Curicó Unido,D. Iquique,Deportes La Serena,Everton Viña,Huachipato,O´Higgins,Palestino,U. Católica,U. Española,U. La Calera,U. de Chile,U. de Conce,Wanderers
0,3,3,0,3,0,3,0,0,3,3,0,0,3,3,3,0,0,0
1,4,6,3,3,1,3,1,0,4,3,0,3,6,3,6,3,0,3
2,7,6,6,3,1,6,1,0,7,4,3,4,9,4,6,6,1,3
3,10,9,7,3,1,9,1,0,8,7,4,5,12,4,9,9,1,3
4,10,10,7,3,2,12,1,3,8,10,4,8,15,7,12,10,2,3

In [14]:
dates = []
for i in range(1,35):
    dates.append(i)
#dates

In [15]:
df["match_day"] = dates

In [16]:
df["match_day"]=df["match_day"].astype(int)

In [17]:
col_name="match_day"
first_col = df.pop(col_name)
df.insert(0, col_name, first_col)
df.head(5)

,match_day,A. Italiano,Antofagasta,Cobresal,Colo Colo,Coquimbo Unido,Curicó Unido,D. Iquique,Deportes La Serena,Everton Viña,Huachipato,O´Higgins,Palestino,U. Católica,U. Española,U. La Calera,U. de Chile,U. de Conce,Wanderers
0,1,3,3,0,3,0,3,0,0,3,3,0,0,3,3,3,0,0,0
1,2,4,6,3,3,1,3,1,0,4,3,0,3,6,3,6,3,0,3
2,3,7,6,6,3,1,6,1,0,7,4,3,4,9,4,6,6,1,3
3,4,10,9,7,3,1,9,1,0,8,7,4,5,12,4,9,9,1,3
4,5,10,10,7,3,2,12,1,3,8,10,4,8,15,7,12,10,2,3

In [18]:
df = df.set_index("match_day")
df.head(5)

,A. Italiano,Antofagasta,Cobresal,Colo Colo,Coquimbo Unido,Curicó Unido,D. Iquique,Deportes La Serena,Everton Viña,Huachipato,O´Higgins,Palestino,U. Católica,U. Española,U. La Calera,U. de Chile,U. de Conce,Wanderers
match_day,,,,,,,,,,,,,,,,,,
1,3,3,0,3,0,3,0,0,3,3,0,0,3,3,3,0,0,0
2,4,6,3,3,1,3,1,0,4,3,0,3,6,3,6,3,0,3
3,7,6,6,3,1,6,1,0,7,4,3,4,9,4,6,6,1,3
4,10,9,7,3,1,9,1,0,8,7,4,5,12,4,9,9,1,3
5,10,10,7,3,2,12,1,3,8,10,4,8,15,7,12,10,2,3

In [ ]:
#colors = dict(zip(
#    ['A. Italiano','Antofagasta','Cobresal','Colo Colo','Coquimbo Unido','Curicó Unido','D. Iquique','Deportes La Serena','Everton Viña','Huachipato','O´Higgins','Palestino','U. Católica','U. Española','U. La Calera','U. de Chile','U. de Conce','Wanderers'],
#    ['#0f9657', '#b6e6f0', '#ff8605', '#faf9f7', '#ebe42d', '#f71f07', '#07aef0', "#87004a","#000a7d","#01085c","#1294ff","#373b34","#0090de","#ff1414","#ff7575","#111191","#effa16","#007836"]
#))

In [ ]:
#figsize=(15,7.5), dpi= 80
#figsize=(12,6)  , dpi=100
#figsize=( 8,4)  , dpi=150
#figsize=( 6,3)  , dpi=200
#etc.

In [50]:
bcr.bar_chart_race(
    df = df,
    filename='Bar_chart_race_Liga_Chilena_2020.mp4',
    #n_bars=5,
    fixed_max=True,
    title = "Trayectoria Equipos Liga Chilena de Futbol 2020", 
    steps_per_period=10, period_length=1000,
    label_bars=True,
    bar_size=.95,
    period_fmt="Fecha {x:1.0f}",
    period_label={'x': .99, 'y': .1, 'ha': 'right', 'weight': 'bold','color': 'black'}, 
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={'family' : 'Helvetica', 'weight': 'normal','color' : '.1', "font_size":"8"},
    scale="linear",
    bar_kwargs={'alpha': .7},
    figsize=(6, 3), dpi=200,
    period_summary_func=lambda v, r: {'x': .99, 'y': .06, 
                                      's': f'by @jppalmab', 
                                      'ha': 'right', 'size': 4},
    #period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    cmap = ['#0f9657', '#b6e6f0', '#ff8605', '#faf9f7', '#ebe42d', '#f71f07', '#07aef0', "#87004a","#000a7d","#01085c","#1294ff","#373b34","#0090de","#ff1414","#ff7575","#111191","#effa16","#007836"])

/home/jppalmab/anaconda3/envs/my_env/lib/python3.8/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
/home/jppalmab/anaconda3/envs/my_env/lib/python3.8/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))